.big-pictures {
  display: none;

}

body {
  background-color: #93fff9;
}
.choices {
  padding-left: 10px;
}
row {
}

img {
  width: 250px;
}

.jumbotron {
  font-size: 42pt;
  font-style: italic;
  color: teal;
  background: white;
}
