.big-pictures {
  display: none;

}

body {
  background-color: #93fff9;
  overflow-y: hidden;
  }
.choices {
  padding-left: 10px;
}
row {
}

img {
  width: 250px;
}

.jumbotron {
  font-size: 42pt;
  font-style: italic;
  color: teal;
  background: white;
}

h2 {
  padding: 5px;

}

.col {
  /* display: block; */
  padding: 10px;
  max-width: 3000px
}
